@import "../../app.scss";

.parallax{
    width:100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h1{
        font-size: 96px;
        margin-top: 100px;
        z-index: 1;



        @include mobile{
            font-size: 40px;
            text-align: center;
        }
    }

    .sky{
        position: absolute;
        background-image: url('./sky2.png');
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    
    .planets{
        position: absolute;
        background-image: url('./planets.jpeg');
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

    .cloud{
        position: absolute;
        background-image: url('./cloud.png');
        background-size: cover;
        width: 60%;
        height: 60%;
        z-index: 4;

    }
}

