@import "../../app.scss";

.skills {
    min-height: 100vh; // Ensure the container takes the full viewport height
    background: linear-gradient(180deg, #151F2B, #151F2B, #46479C);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer {
        flex: 1;
        display: flex;
        align-self: flex-end;
        align-items: center;
        gap: 20px;

        @include mobile {
            align-self: start;
            gap: 10px;
        }

        p {
            font-weight: 200;
            font-size: 25px;
            color: rgba(239, 221, 176, 0.952);
            text-align: right;

            @include mobile {
                font-size: 16px;
            }
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;

            @include mobile {
                width: 300px;
            }
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 100%;
            align-items: flex-start;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile {
                gap: 20px;
                flex-direction: column;
            }

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;

                @include mobile {
                    width: 200px;
                    height: 60px;
                }
            }

            h1 {
                font-size: 96px;
                font-weight: 100;

                @include mobile {
                    font-size: 36px;
                }

                span {
                    background-image: linear-gradient(to right, #7be728, #f3265f, #7f40ac, #7be728);
                    animation: gradientAnimation 5s linear infinite;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }

            button {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 24px;
                cursor: pointer;

                @include mobile {
                    width: 200px;
                    height: 60px;
                    font-size: 18px;
                }
            }
        }
    }

    .skillContainer {
        flex: 1;
        display: flex;
        max-width: 1366px;
        margin: auto;
        margin-bottom: 70px;

        @include mobile {
            flex-direction: column;
            width: 100%;
        }

        .box {
            padding: 50px;
            border: 2px solid #ececec;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
                padding: 20px;
                border: none;
            }

            h3 {
                font-size: 22px;
                color: #2dabf3;

                @include mobile {
                    font-size: 18px;
                }
            }

            p {
                @include mobile {
                    font-size: 14px;
                }
            }
        }
    }
}
